.header {
    position: sticky;
    height: 50px;
    width: 100%;
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 20;
}
.header_row {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: space-between; 
    height: 100%;  
}
.header_img {
    height: 40px;
    object-fit: contain;
    margin:auto;
}
.header_text {
    text-align: center;
}
.header_logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    margin:0;
}
.header_button {
   width: 75%;
}
