.home {
    position: static;
    width: 98%;
    margin: 0, auto;
    padding: 0;
    height: calc(100vh - 55px);
    overflow-y: scroll;
}
.home_profile {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}
img {
    margin: 10px auto;
    width: 50%;
    object-fit: contain;
    border-radius: 10px;
}
.home_name > h4 {
    text-align: center;
}
.home_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.item_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.accordion {
    width: 100%;
    margin: 0;
    padding: 0;
}
.accordion-button {
    margin: 0;
    padding: 2px;
}
.accordion-item {
    width: 100%;
    margin: 0;
    padding: 0;
}
.item_name {
    padding: 2px 0;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 10pt;
}
.original_price_title, .target_price_title, .current_price_title, .original_price_number, .target_price_number, .current_price_number {
    margin: 0;
    text-align: right;
}