.home {
    position: static;
    width: 98%;
    margin: 0, auto;
    padding: 0;
    height: calc(100vh - 55px);
    overflow-y: scroll;
}
.home_profile {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}
.home_card {
    background-color: lightyellow;
}
img {
    margin: 10px auto;
    width: 40%;
    object-fit: contain;
    border-radius: 10px;
}
.set_profile_button {
    width: 50%;
    margin: 5px auto;
}
.home_name, .home_name > h4 {
    text-align: center;
}
.home_add_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}
.add_item_button {
    font-weight: bold;
}
.home_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.item_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.accordion {
    width: 100%;
    margin: 0;
    padding: 0;
}
.accordion-button {
    margin: 0;
    padding: 2px;
}
.accordion-item {
    width: 100%;
    margin: 0;
    padding: 0;
}
.item_name {
    padding: 2px 0;
    font-weight: 500;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 10pt;
}
.original_price_title, .target_price_title, .current_price_title, .original_price_number, .target_price_number, .current_price_number {
    margin: 0;
    text-align: right;
}
.original_price_title, .target_price_title, .current_price_title {
    font-weight: 500;
}
.accordion-body {
    background-color: lightyellow;
    padding: 10px;
}
.item_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 10pt;
}
.date_section {
    padding: 0;
    font-size: 9pt;
}
.visit_item_button, .remove_item_button {
    font-size: 10pt;
    padding: 2px 1px;
}
.modal-body {
    width: 100%;
    margin: 0;
    font-size: 10pt;
    display: flex;
    align-items: center;
}
.modal_url_title, .modal_current_price_title {
    text-align: right;
    margin: 5px 0;
    font-size: 10pt;
    font-weight: bold;
}
.modal_current_price_input {
    width: 50px;
}
.modal_url_input, .modal_current_price_input {
    font-size: 10pt;
}
.modal_confirmed_price_title, .modal_confirmed_price {
    padding: 0;
    text-align: center;
    font-size: 14pt;
}
.modal_confirmed_price {
    margin-bottom: 10px;
}
.modal_item_name_title, .modal_target_price_title, .modal_percent_discount_title {
    text-align: right;
    padding: 5px;
}
.modal_item_name_title, .modal_item_name_box {
    margin-bottom: 35px;
}
.or {
    text-align: center;
    font-size: 14pt;
}
.modal_target_price_box, .modal_percent_discount_box, .modal_item_name_box {
    padding-left: 0;
}
.modal_target_price_input, .modal_percent_discount_input {
    width: 75px;
    margin-left: 0;
}
a {
    text-decoration: none;
}
.modal_name_section {
    margin: auto;
    width: 50%;
}
.modal_name_input {
    width: 150px;
    margin-bottom: 20px;
}
/* .modal_profile_body {
    display: flex;
    align-items: center;
     justify-content: center; 
    width: 100%;
    margin: 0;
    font-size: 10pt;
} */
.modal_profile_pic {
    text-align: center;
}

.modal_diff_pic {
    text-align: center;
}
.diff_pic_button {
    width: 75%;
    margin: auto;
}
.modal_profile_text {
    text-align: center;
}
.btn, .btn-close {
    border: 3px solid;
    border-radius: 10px;
}
.modal-content {
    border-radius: 10px;
    border: 3px solid;
}
.modal-header {
    border-bottom: 3px solid;
}
button {
    font-weight: 500 !important;
}
.form-group {
    width: 100%;
}
.pic_label {
    width: 100%;
    text-align: center;
}
.home_footer {
    opacity: 0.7;
    border-top: 1px solid;
}